<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('home')}}" class="navbar-home">Home</a>
        <a href="{{ url_for('addtask')}}" class="navbar-addtask">Add Task</a>
        <a href="{{ url_for('login')}}" class="navbar-login">Login</a>
    </nav>

    <h1>Index Page</h1>
    <table>
        <thead>
            <td><strong>ID</strong></td>
            <td><strong>Task</strong></td>
            <td><strong>Completed</strong></td>
        </thead>

        {% for row in rows %}
        <tr>
            <td>{{ row["id"] }}</td>
            <td>{{ row["description"] }}</td>
            <td>{{ "false" if row["completed"] == 0 else "true" }}</td>
        </tr>
        {% endfor %}
    </table>
   
    <script src="/static/script.js" charset="UTF-8"></script>
</body>
</html>
